@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/coreui-light/css/coreui.css"/>
    <link rel="stylesheet" href="~/coreui-light/css/loader.css"/>
    <script src="~/coreui-light/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/coreui-light/js/coreui.js"></script>
    <script src="~/coreui-light/js/loader.js"></script>
    <style>
        .container {
            padding: 20px;
        }

        .main {
            width: 900px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
yyy
@RenderBody()
</body>
</html>