@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/Styles/jquery-ui.css">
    <link rel="stylesheet" href="~/Styles/bootstrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
<h2>Page title</h2>
@RenderBody()
</body>
</html>